<!DOCTYPE html>
<html layout:decorate="~{layouts/layout2}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <section id="container">
        <div id="list">
            <div class="wrap">
                <div id="heading">클렌징</div>
                <div class="flex">
                    <div class="lt-item">
                        <div class="category">
                            <div class="tit">SKIN CARE</div>
                            <div class="con">
                                <ul>
                                    <li><a href="#">전체보기</a></li>
                                    <li><a href="#">클렌징</a></li>
                                    <li><a href="#">스킨·토너</a></li>
                                    <li><a href="#">에센스·세럼</a></li>
                                    <li><a href="#">로션·크림·밤</a></li>
                                    <li><a href="#">오일·미스트</a></li>
                                    <li><a href="#">마스크팩</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rt-item">
                        <div class="tool">
                            <div class="total">총 <strong>27</strong>개</div>
                            <div class="sort">
                                <select>
                                    <option>추천순</option>
                                    <option>신상품순</option>
                                    <option>상품명순</option>
                                    <option>높은가격순</option>
                                    <option>낮은가격순</option>
                                    <option>판매량높은순</option>
                                    <option>후기갯수많은순</option>
                                </select>
                            </div>
                        </div>
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim on"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim on"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image02.png"></a></div>
                                        <div class="con">
                                            <div class="name"><a href="#">[르라보] 어나더 쿨코튼</a></div>
                                            <div class="sale">
                                                <span class="price">169,000</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image03.png"></a></div>
                                        <div class="con">
                                            <div class="name">상품명이 노출됩니다</div>
                                            <div class="sale">
                                                <span class="price">34,900</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image02.png"></a></div>
                                        <div class="con">
                                            <div class="name"><a href="#">[르라보] 어나더 쿨코튼</a></div>
                                            <div class="sale">
                                                <span class="price">169,000</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image03.png"></a></div>
                                        <div class="con">
                                            <div class="name">상품명이 노출됩니다</div>
                                            <div class="sale">
                                                <span class="price">34,900</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image02.png"></a></div>
                                        <div class="con">
                                            <div class="name"><a href="#">[르라보] 어나더 쿨코튼</a></div>
                                            <div class="sale">
                                                <span class="price">169,000</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image03.png"></a></div>
                                        <div class="con">
                                            <div class="name">상품명이 노출됩니다</div>
                                            <div class="sale">
                                                <span class="price">34,900</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image02.png"></a></div>
                                        <div class="con">
                                            <div class="name"><a href="#">[르라보] 어나더 쿨코튼</a></div>
                                            <div class="sale">
                                                <span class="price">169,000</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image03.png"></a></div>
                                        <div class="con">
                                            <div class="name">상품명이 노출됩니다</div>
                                            <div class="sale">
                                                <span class="price">34,900</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image02.png"></a></div>
                                        <div class="con">
                                            <div class="name"><a href="#">[르라보] 어나더 쿨코튼</a></div>
                                            <div class="sale">
                                                <span class="price">169,000</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image03.png"></a></div>
                                        <div class="con">
                                            <div class="name">상품명이 노출됩니다</div>
                                            <div class="sale">
                                                <span class="price">34,900</span>
                                                <span class="percent">24%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <button type="button" class="zzim"><i></i></button>
                                        <div class="img"><a href="#"><img src="/img/raffle_image01.png"></a></div>
                                        <div class="con">
                                            <div class="name">[조말론] 블랙베리 100ml</div>
                                            <div class="sale">
                                                <span class="price">107,000</span>
                                                <span class="percent">23%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paging">
                            <a href="#" class="first">&lt;&lt;</a>
                            <a href="#" class="prev">&lt;</a>
                            <a href="#" class="current">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">7</a>
                            <a href="#">8</a>
                            <a href="#">9</a>
                            <a href="#">10</a>
                            <a href="#" class="next">&gt;</a>
                            <a href="#" class="end">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>