<!DOCTYPE html>
<html layout:decorate="~{layouts/layout2}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <div id="container">
        <div>
            <span>임시 주문 완료 페이지</span>
        </div>
        <div th:if="${order != null}">
            <div th:if="${order.getPayment() != null}">
                <div>
                    <span>결제상태: </span>
                    <span th:text="${order.getPayment().getStatus()}">결과</span><br>
                </div>
                <div>
                    <span>결제 메시지: </span>
                    <span th:text="${order.getPayment().getLastMessage()}"></span>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" th:inline="javascript">
        /* <![CDATA[ */
        const order = [[${order}]];
        console.log(order);
        /* ]]> */
    </script>
</div>
</html>
