<!DOCTYPE html>
<html layout:decorate="~{layouts/layout2}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <div id="container">
        <div>
            <span>임시 주문 완료 페이지</span>
        </div>
        <div th:if="${order != null}">
            <div th:if="${order.getPayment() != null}">
                <span th:text="${order.getPayment().getStatus() == 'SUCCESS'} ? '결제 성공' : '결제 실패'">결과</span><br>
                <span th:if="${order.getPayment().getStatus() != 'SUCCESS'}" th:text="${order.getPayment().getLastMessage()}"></span>
            </div>
        </div>
    </div>
    <script type="application/javascript" th:inline="javascript">
        /* <![CDATA[ */
        const order = [[${order}]];
        console.log(order);
        /* ]]> */
    </script>
</div>
</html>
