<!DOCTYPE html>
<html layout:decorate="~{layouts/layout2}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <div id="container">
        <div id="shop">
            <div id="shop_cart">
                <div class="wrap">
                    <div id="heading">주문서</div>
                    <div class="step">
                        <ul>
                            <li>장바구니</li>
                            <li class="active">주문서 작성</li>
                            <li>주문완료</li>
                        </ul>
                    </div>
                    <div class="orderbox">
                        <div class="order">
                            <!-- 주문 상품 정보 -->
                            <div class="list">
                                <table>
                                    <thead>
                                    <tr>
                                        <th scope="col">주문상품</th>
                                        <th scope="col">가격</th>
                                        <th scope="col">수량</th>
                                        <th scope="col">총금액</th>
                                        <th scope="col">적립금</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="item: ${items}">
                                        <tr>
                                            <td>
                                                <div class="prod">
                                                    <div class="img">
                                                        <img th:src="${item.getMainImageUrl()}">
                                                    </div>
                                                    <div class="con">
                                                        <div class="tit">
                                                            <span th:if="${item.getBrand() != null && item.getBrand() != ''}">
                                                                [<span th:text="${item.getBrand()}">르라보</span>]
                                                            </span>
                                                            <span th:text="${item.getName()}">어나더 13EDP 50ml</span>
                                                        </div>
                                                        <div class="opt">
                                                            <span th:if="${item.getOption() != null}">
                                                                <span th:text="${item.getOption().getName()}">용량 : 50ml </span>
                                                                <a href="javascript:;">옵션변경</a>
                                                            </span>
                                                            <span th:if="${item.getOption() == null}">
                                                                <span>- </span>
                                                                <a href="javascript:;">옵션변경</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span th:text="${#numbers.formatInteger(item.getPrice(), 0, 'COMMA')}">349,000</span>원
                                                <!-- <br><em>($135,58)</em>-->
                                            </td>
                                            <td>
                                                <span th:text="${item.getCount()}"></span>
                                            </td>
                                            <td>
                                                <strong>
                                                    <strong th:text="${#numbers.formatInteger(item.getPrice()*item.getCount(), 0, 'COMMA')}">349,000</strong>원
                                                </strong>
                                            </td>
                                            <td>
                                                <span th:text="${item.getEarnedPoints()}">0</span>원
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <!-- 장바구니 가기 -->
                            <div class="control">
                                <button type="button">장바구니 가기</button>
                                <p class="guide">※ 상품의 옵션 및 수량 변경은 상품상세 또는 장바구니에서 가능합니다.</p>
                            </div>
                            <!-- 개인통관고유부호 -->
                            <div class="desc" style="display:none;">
                                <div class="tit">개인통관고유부호</div>
                                <div class="con">
                                    <dl>
                                        <dt>개인통관고유부호</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" placeholder="개인통관고유부호">
                                                <button type="button">개인통관고유부호 발급/조회</button>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="cau">
                                    <dl>
                                        <dt>* 개인통관고유부호 안내</dt>
                                        <dd>
                                            <p>1. 받는 사람 명의로 통관이 진행되므로, 이름과 개인통관고유부호 모두 '수령인'의 정보여야 합니다. 수령인이 본인이 아닌
                                                타인이라면, 타인의 개인통관고유부호를 입력해야 합니다.</p>
                                            <p>2. 수령인 이름과 개인통관고유부호가 불일치할 경우 배송이 불가하며, 관세법인을 통해 직접 수정해야합니다.(개인연락)</p>
                                            <p>3. 수령인 이름과 개인통관고유부호가 불일치할 경우 발생하는 비용 및 절차는 당사에서 관여하지않습니다.</p>
                                            <p>4. 개인통관고유부호 오류로 인한 주문 취소는 불가하며, 발생하는 비용 및 서류처리는 당사가 책임지지 않습니다.</p>
                                            <p>5. 외국인일 경우 주문서 페이지에서 수령인 이름을 영문으로 기입해주세요.</p>
                                            <p>6. 이외 발생하는 문제에 대해서는 관세청 홈페이지 또는 1:1 문의를 통해 확인하시기 바랍니다.</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!-- 할인/혜택 사용 -->
                            <div class="desc">
                                <div class="tit">할인/혜택 사용</div>
                                <div class="txt">
                                    <p>* 무료배송 및 이벤트 상품은 쿠폰 및 적립금 사용이 불가능합니다.</p>
                                    <p>* 적립금 사용 시 적립금이 적립되지 않습니다.</p>
                                </div>
                                <div class="con">
                                    <dl>
                                        <dt>전체상품 쿠폰</dt>
                                        <dd>
                                            <ul class="couponUse">
                                                <li>
                                                    <label class="radiobox">
                                                        <input type="radio" name="couponUse" checked>
                                                        <i></i>
                                                        <div class="text">
                                                            <div class="name">사용안함</div>
                                                        </div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="radiobox">
                                                        <input type="radio" name="couponUse">
                                                        <i></i>
                                                        <div class="text">
                                                            <div class="name">회원가입 5,000원 쿠폰 (9만원 이상 구매시 사용가능)</div>
                                                            <div class="option">최소주문금액 : 90,000원 이상 / 할인액(율) : 5,000원 /
                                                                사용기간 : ~ 2022-07-26
                                                            </div>
                                                        </div>
                                                    </label>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!-- 주문자 입력 -->
                            <div class="desc">
                                <div class="tit">주문자 입력</div>
                                <div class="con">
                                    <dl>
                                        <dt>주문하시는 분</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" id="orderer_name" th:value="${orderer.getName()}">
                                            </div>
                                            <div class="guide">*반드시 고유통관부호와 일치하는 실명 및 여권이름을 기재하셔야 합니다.</div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>전화번호</dt>
                                        <dd>
                                            <div class="inp">
                                                <select name="regionNumber" id="orderer_region_number">
                                                    <option value="02"
                                                            th:selected="${orderer.getRegionNumber()} == '02'">
                                                        02
                                                    </option>
                                                    <option value="031"
                                                            th:selected="${orderer.getRegionNumber()} == '031'">
                                                        031
                                                    </option>
                                                    <option value="032"
                                                            th:selected="${orderer.getRegionNumber()} == '032'">
                                                        032
                                                    </option>
                                                    <option value="033"
                                                            th:selected="${orderer.getRegionNumber()} == '033'">
                                                        033
                                                    </option>
                                                    <option value="041"
                                                            th:selected="${orderer.getRegionNumber()} == '041'">
                                                        041
                                                    </option>
                                                    <option value="042"
                                                            th:selected="${orderer.getRegionNumber()} == '042'">
                                                        042
                                                    </option>
                                                    <option value="043"
                                                            th:selected="${orderer.getRegionNumber()} == '043'">
                                                        043
                                                    </option>
                                                    <option value="044[c]"
                                                            th:selected="${orderer.getRegionNumber()} == '044[c]'">
                                                        044[c]
                                                    </option>
                                                    <option value="051"
                                                            th:selected="${orderer.getRegionNumber()} == '051'">
                                                        051
                                                    </option>
                                                    <option value="052(2)"
                                                            th:selected="${orderer.getRegionNumber()} == '052(2)'">
                                                        052(2)
                                                    </option>
                                                    <option value="053"
                                                            th:selected="${orderer.getRegionNumber()} == '053'">
                                                        053
                                                    </option>
                                                    <option value="054"
                                                            th:selected="${orderer.getRegionNumber()} == '054'">
                                                        054
                                                    </option>
                                                    <option value="055"
                                                            th:selected="${orderer.getRegionNumber()} == '055'">
                                                        055
                                                    </option>
                                                    <option value="061"
                                                            th:selected="${orderer.getRegionNumber()} == '061'">
                                                        061
                                                    </option>
                                                    <option value="062"
                                                            th:selected="${orderer.getRegionNumber()} == '062'">
                                                        062
                                                    </option>
                                                    <option value="063"
                                                            th:selected="${orderer.getRegionNumber()} == '063'">
                                                        063
                                                    </option>
                                                    <option value="064(7)"
                                                            th:selected="${orderer.getRegionNumber()} == '064(7)'">
                                                        064(7)
                                                    </option>
                                                </select>
                                                <em>-</em>
                                                <input type="text" id="orderer_general_phone_number_1"
                                                       th:value="${orderer.getGeneralPhoneNumber1()}" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                                <em>-</em>
                                                <input type="text" id="orderer_general_phone_number_2"
                                                       th:value="${orderer.getGeneralPhoneNumber2()}" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>휴대전화번호</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" id="orderer_cell_phone_number_1" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                       th:value="${orderer.getCellPhoneNumber() == null || orderer.getCellPhoneNumber() == ''} ? '' : ${orderer.getCellPhoneNumber().substring(0, 3)}">
                                                <em>-</em>
                                                <input type="text" id="orderer_cell_phone_number_2" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                       th:value="${orderer.getCellPhoneNumber() == null || orderer.getCellPhoneNumber() == ''} ? '' : ${orderer.getCellPhoneNumber().substring(3, 7)}">
                                                <em>-</em>
                                                <input type="text" id="orderer_cell_phone_number_3" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                                                       th:value="${orderer.getCellPhoneNumber() == null || orderer.getCellPhoneNumber() == ''} ? '' : ${orderer.getCellPhoneNumber().substring(7, 11)}">
                                            </div>
                                            <div class="chk">
                                                <label class="checkbox">
                                                    <input type="checkbox" id="orderer_available_receive_sms"
                                                           th:checked="${orderer.isAvailableReceiveSms()}"><i></i>
                                                    <p>주문관련 SMS를 수신합니다.</p>
                                                </label>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>이메일</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" id="orderer_email_1"
                                                       th:value="${orderer.getEmail() == null || orderer.getEmail() == ''} ? '' : ${orderer.getEmail().split('@')[0]}">
                                                <em>@</em>
                                                <input type="text" id="orderer_email_2"
                                                       th:value="${orderer.getEmail() == null || orderer.getEmail() == ''} ? '' : ${orderer.getEmail().split('@')[1]}">
                                                <select style="width:178px; display: none;">
                                                    <option>직접입력</option>
                                                </select>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!-- 배송지 입력 -->
                            <div class="desc">
                                <div class="tit">배송지 입력</div>
                                <div class="txt">* 반드시 받으시는 분의 전화번호를 기재하셔야 통관 진행됩니다.</div>
                                <div class="con">
                                    <dl>
                                        <dt>기존 배송지</dt>
                                        <dd>
                                            <div class="inp">
                                                <label class="radiobox">
                                                    <input type="radio" name="available_original_address" value="new"
                                                           onchange="onChangeAvailableOriginalAddress(event)" checked>
                                                    <i></i>
                                                    <p>새로운 주소 입력</p>
                                                </label>
                                            </div>
                                            <div class="chk">
                                                <label class="radiobox">
                                                    <input type="radio" name="available_original_address"
                                                           value="original"
                                                           onchange="onChangeAvailableOriginalAddress(event)">
                                                    <i></i>
                                                    <p>주문인 정보와 동일</p>
                                                </label>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>받으시는 분</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" id="recipient_name">
                                            </div>
                                            <div class="guide">반드시 고유통관부호와 일치하는 실명 및 여권이름을 기재하셔야합니다.</div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>전화번호</dt>
                                        <dd>
                                            <div class="inp">
                                                <select name="regionNumber" id="recipient_region_number">
                                                    <option value="02"
                                                            th:selected="${orderer.getRegionNumber()} == '02'">
                                                        02
                                                    </option>
                                                    <option value="031"
                                                            th:selected="${orderer.getRegionNumber()} == '031'">
                                                        031
                                                    </option>
                                                    <option value="032"
                                                            th:selected="${orderer.getRegionNumber()} == '032'">
                                                        032
                                                    </option>
                                                    <option value="033"
                                                            th:selected="${orderer.getRegionNumber()} == '033'">
                                                        033
                                                    </option>
                                                    <option value="041"
                                                            th:selected="${orderer.getRegionNumber()} == '041'">
                                                        041
                                                    </option>
                                                    <option value="042"
                                                            th:selected="${orderer.getRegionNumber()} == '042'">
                                                        042
                                                    </option>
                                                    <option value="043"
                                                            th:selected="${orderer.getRegionNumber()} == '043'">
                                                        043
                                                    </option>
                                                    <option value="044[c]"
                                                            th:selected="${orderer.getRegionNumber()} == '044[c]'">
                                                        044[c]
                                                    </option>
                                                    <option value="051"
                                                            th:selected="${orderer.getRegionNumber()} == '051'">
                                                        051
                                                    </option>
                                                    <option value="052(2)"
                                                            th:selected="${orderer.getRegionNumber()} == '052(2)'">
                                                        052(2)
                                                    </option>
                                                    <option value="053"
                                                            th:selected="${orderer.getRegionNumber()} == '053'">
                                                        053
                                                    </option>
                                                    <option value="054"
                                                            th:selected="${orderer.getRegionNumber()} == '054'">
                                                        054
                                                    </option>
                                                    <option value="055"
                                                            th:selected="${orderer.getRegionNumber()} == '055'">
                                                        055
                                                    </option>
                                                    <option value="061"
                                                            th:selected="${orderer.getRegionNumber()} == '061'">
                                                        061
                                                    </option>
                                                    <option value="062"
                                                            th:selected="${orderer.getRegionNumber()} == '062'">
                                                        062
                                                    </option>
                                                    <option value="063"
                                                            th:selected="${orderer.getRegionNumber()} == '063'">
                                                        063
                                                    </option>
                                                    <option value="064(7)"
                                                            th:selected="${orderer.getRegionNumber()} == '064(7)'">
                                                        064(7)
                                                    </option>
                                                </select>
                                                <em>-</em>
                                                <input type="text" id="recipient_general_phone_number_1" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                                <em>-</em>
                                                <input type="text" id="recipient_general_phone_number_2" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>휴대전화번호</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" id="recipient_cell_phone_number_1" maxlength="3"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                                <em>-</em>
                                                <input type="text" id="recipient_cell_phone_number_2" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                                <em>-</em>
                                                <input type="text" id="recipient_cell_phone_number_3" maxlength="4"
                                                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                                            </div>
                                            <div class="guide">반드시 받으시는 분의 전화번호 기재하셔야 통관 진행됩니다.</div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>주소</dt>
                                        <dd>
                                            <div class="addr">
                                                <div class="inp">
                                                    <input type="text" id="address_postcode" placeholder="우편번호"
                                                           readonly/>
                                                    <button type="button" onclick="execDaumPostcode()">주소 검색</button>
                                                </div>
                                                <div class="inp">
                                                    <input type="text" id="address_road" placeholder="도로명주소" readonly/>
                                                </div>
                                                <div class="inp">
                                                    <input type="text" id="address_detail" placeholder="상세주소"/>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>기존 배송지</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" id="delivery_memo" placeholder="배송 요청사항 입력"
                                                       value="문 앞에 놔주세요.">
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>주문시 요청사항</dt>
                                        <dd>
                                            <div class="inp">
                                                <input type="text" id="order_memo" placeholder="상품 요청사항 입력">
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="save">
                                    <label class="checkbox">
                                        <input type="checkbox"
                                               id="change_shipping_address_to_member_information"><i></i>
                                        <p>현재 배송지 정보를 회원정보로 저장</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="payment">
                            <div class="box">
                                <div class="desc info">
                                    <div class="tit">결제 정보</div>
                                    <div class="con">
                                        <dl>
                                            <dt>주문금액</dt>
                                            <dd th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA')} + '원'"></dd>
                                        </dl>
                                        <dl>
                                            <dt>배송비</dt>
                                            <dd th:text="'+ ' + ${#numbers.formatInteger(deliveryCost, 0, 'COMMA')} + '원'"></dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                총적립금 <i><img src="/img/icon_qm.png">
                                                <p>총적립금이란?</p></i>
                                            </dt>
                                            <dd th:text="${#numbers.formatInteger(reserves, 0, 'COMMA')} + '원'">
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="total">
                                    <div class="text">총 결제금액</div>
                                    <div class="price">
                                        <div class="won">
                                            <span th:text="${#numbers.formatInteger(totalAmount, 0, 'COMMA')}">10,000</span><em>원</em>
                                        </div>
<!--                                        <div class="dollar">($135,58)</div>-->
                                    </div>
                                </div>
                                <div class="desc method">
                                    <div class="tit">결제 수단</div>
                                    <div class="con">
                                        <ul>
                                            <li>
                                                <label class="radiobox">
                                                    <input type="radio" name="paymentType" value="CARD_PAYMENT" checked><i></i>
                                                    <p>신용카드</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radiobox">
                                                    <input type="radio" name="paymentType"
                                                           value="VIRTUAL_ACCOUNT"><i></i>
                                                    <p>가상계좌</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radiobox">
                                                    <input type="radio" name="paymentType"
                                                           value="WIRE_TRANSFER"><i></i>
                                                    <p>계좌이체</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radiobox" style="display: none;">
                                                    <input type="radio" name="paymentType"><i></i>
                                                    <p>카카오페이</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="radiobox" style="display: none;">
                                                    <input type="radio" name="paymentType">
                                                    <i></i>
                                                    <p>무통장 입금</p>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="guide">* 주문신청 후 3일 이내에 입금 확인이 되지 않으면 자동취소 됩니다.</div>
                                </div>
                                <div class="agree">
                                    <label class="checkbox">
                                        <input type="checkbox" id="agree_to_purchase"><i></i>
                                        <div class="text">구매 제품, 옵션, 결제정보를 확인하였으며, 구매진행에 동의합니다.</div>
                                    </label>
                                </div>
                                <div class="button">
                                    <a href="javascript: paymentOrder();" class="btn btn_01">주문하기</a>
                                </div>
                                <form id="order_complete_form" name="orderComplete" method="get"
                                      action="/order/complete"></form>
                            </div>
                        </div>
                    </div>
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        function execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function (data) {
                                    var addr = '';
                                    var extraAddr = '';

                                    if (data.userSelectedType === 'R') {
                                        addr = data.roadAddress;
                                    } else {
                                        addr = data.jibunAddress;
                                    }
                                    if (data.userSelectedType === 'R') {
                                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                            extraAddr += data.bname;
                                        }
                                        if (data.buildingName !== '' && data.apartment === 'Y') {
                                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                        }
                                        if (extraAddr !== '') {
                                            extraAddr = ' (' + extraAddr + ')';
                                        }
                                        document.getElementById("address_detail").value = extraAddr;

                                    } else {
                                        document.getElementById("address_detail").value = '';
                                    }
                                    document.getElementById('address_postcode').value = data.zonecode;
                                    document.getElementById("address_road").value = addr;
                                    document.getElementById("address_road").focus();
                                }
                            }).open();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" th:inline="javascript">
        /* <![CDATA[ */
        const items = [[${items}]];
        const postcode = [[${orderer.postcode}]];
        const road = [[${orderer.road}]];
        const detail = [[${orderer.detail}]];

        const orderName = document.getElementById("orderer_name");
        const ordererRegionNumber = document.getElementById("orderer_region_number");
        const ordererGeneralPhoneNumber1 = document.getElementById("orderer_general_phone_number_1");
        const ordererGeneralPhoneNumber2 = document.getElementById("orderer_general_phone_number_2");
        const ordererCellPhoneNumber1 = document.getElementById("orderer_cell_phone_number_1");
        const ordererCellPhoneNumber2 = document.getElementById("orderer_cell_phone_number_2");
        const ordererCellPhoneNumber3 = document.getElementById("orderer_cell_phone_number_3");
        const ordererAvailableReceiveSms = document.getElementById("orderer_available_receive_sms");
        const ordererEmail1 = document.getElementById("orderer_email_1");
        const ordererEmail2 = document.getElementById("orderer_email_2");

        const changeShippingAddressToMemberInformation = document.getElementById("change_shipping_address_to_member_information");

        const recipientName = document.getElementById("recipient_name");
        const recipientRegionNumber = document.getElementById("recipient_region_number");
        const recipientGeneralPhoneNumber1 = document.getElementById("recipient_general_phone_number_1");
        const recipientGeneralPhoneNumber2 = document.getElementById("recipient_general_phone_number_2");
        const recipientCellPhoneNumber1 = document.getElementById("recipient_cell_phone_number_1");
        const recipientCellPhoneNumber2 = document.getElementById("recipient_cell_phone_number_2");
        const recipientCellPhoneNumber3 = document.getElementById("recipient_cell_phone_number_3");
        const addressPostcode = document.getElementById("address_postcode");
        const addressRoad = document.getElementById("address_road");
        const addressDetail = document.getElementById("address_detail");
        const deliveryMemo = document.getElementById("delivery_memo");
        const orderMemo = document.getElementById("order_memo");
        const agreeToPurchase = document.getElementById("agree_to_purchase");

        /* 주문 등록, 결제 */
        async function paymentOrder() {
            let orderResult = {};
            if (!agreeToPurchase.checked) {
                alert('구매진행에 동의해주세요');
                return;
            }

            orderResult = await saveOrder();
            if (!orderResult.success) {
                alert(orderResult.message);
                return;
            }

            const useragent = isMobile() ? 'WM' : 'WP';
            const params = {
                orderId: orderResult.order.id,
                paymentType: document.querySelector('input[name="paymentType"]:checked').value,
                useragent: useragent
            }

            let query = Object.keys(params)
                .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                .join('&');

            var popupX = (document.body.offsetWidth / 2) - (700 / 2);
            // 만들 팝업창 width 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY = (window.screen.height / 2) - (500 / 2);
            // 만들 팝업창 height 크기의 1/2 만큼 보정값으로 빼주었음

            let paymentPopup = window.open('/order/payment/start?' + query, 'orderPayment', 'width=700,height=500,top=' + popupX + ',left=' + popupY);
            let interval = setInterval(function () {
                if (paymentPopup.closed) {
                    clearInterval(interval);

                    let orderCompleteForm = document.getElementById("order_complete_form");
                    const orderIdInput = document.createElement('input');
                    orderIdInput.setAttribute("type", "hidden");
                    orderIdInput.setAttribute("name", "orderId");
                    orderIdInput.setAttribute("value", orderResult.order.id);
                    orderCompleteForm.appendChild(orderIdInput);
                    orderCompleteForm.submit();
                } else {
                }
            }, 1000);
        }

        /* 주문 등록 */
        async function saveOrder() {
            let orderResult = {
                success: false,
                message: '',
                order: null
            };
            const body = {
                ordererName: orderName.value,
                ordererGeneralPhoneNumber: ordererRegionNumber.value + ordererGeneralPhoneNumber1.value + ordererGeneralPhoneNumber2.value,
                ordererCellPhoneNumber: ordererCellPhoneNumber1.value + ordererCellPhoneNumber2.value + ordererCellPhoneNumber3.value,
                ordererAvailableReceiveSms: ordererAvailableReceiveSms.checked,
                ordererEmail: ordererEmail1.value + '@' + ordererEmail2.value,

                changeShippingAddressToMemberInformation: changeShippingAddressToMemberInformation.checked,

                recipientName: recipientName.value,
                recipientGeneralPhoneNumber: recipientRegionNumber.value + recipientGeneralPhoneNumber1.value + recipientGeneralPhoneNumber2.value,
                recipientCellPhoneNumber: recipientCellPhoneNumber1.value + recipientCellPhoneNumber2.value + recipientCellPhoneNumber3.value,
                deliveryMemo: deliveryMemo.value,
                orderMemo: orderMemo.value,
                recipientAddress: {
                    postcode: addressPostcode.value,
                    road: addressRoad.value,
                    detail: addressDetail.value
                },
                items: items
            };

            await fetch('/api/orders', {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify(body)
            }).then(response => {
                return response.json();
            }).then(data => {
                orderResult.order = data.order;
                orderResult.success = true;
            }).catch(errors => {
                console.log(errors);
                orderResult.message = errors.message;
            })
            return orderResult;
        }

        /* 배송지 정보 주문인 정보와 동일 */
        function onChangeAvailableOriginalAddress(event) {
            if (event.target.value === 'new') {
                recipientName.value = '';
                recipientRegionNumber.value = '02';
                recipientGeneralPhoneNumber1.value = '';
                recipientGeneralPhoneNumber2.value = '';
                recipientCellPhoneNumber1.value = '010';
                recipientCellPhoneNumber2.value = '';
                recipientCellPhoneNumber3.value = '';
                addressPostcode.value = '';
                addressRoad.value = '';
                addressDetail.value = '';
            } else if (event.target.value === 'original') {
                recipientName.value = orderName.value;
                recipientRegionNumber.value = ordererRegionNumber.value;
                recipientGeneralPhoneNumber1.value = ordererGeneralPhoneNumber1.value;
                recipientGeneralPhoneNumber2.value = ordererGeneralPhoneNumber2.value;
                recipientCellPhoneNumber1.value = ordererCellPhoneNumber1.value;
                recipientCellPhoneNumber2.value = ordererCellPhoneNumber2.value;
                recipientCellPhoneNumber3.value = ordererCellPhoneNumber3.value;
                addressPostcode.value = postcode;
                addressRoad.value = road;
                addressDetail.value = detail;
            }
        }

        const isMobile = () => {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
        }
        /* ]]> */
    </script>
</div>
</html>
