<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: adminHead">
<body id="wrap">
<th:block th:replace="admin/fragments/header :: adminHeader()"></th:block>
<script src="/admin/js/topic-item.js" type="application/javascript" th:inline="javascript"></script>
<style>
    .button_disabled {
        pointer-events: none;
        color: #8C8C8C;
    }
</style>
<main id="container">
    <div id="tool">
        <div class="info">
            <div class="title">관리자페이지</div>
        </div>
        <div class="logout">
            <a href="#">로그아웃</a>
        </div>
    </div>
    <div id="contain">
        <div id="h1">
            <strong><strong th:text="${topicName}"></strong> 기획전 관리</strong>
            <span>SHOP 관리 > <span th:text="${topicName}"></span>관리 > <span th:text="${topicName}"></span>FORM</span>
        </div>
        <div id="product" class="content product">
            <form id="topicItemForm" th:method="post" th:action="@{'/admin/topic/' + ${topicCode}}"
                  th:object="${topicItem}">
                <input type="hidden" name="id" th:field="*{id}"/>
                <div class="write">
                    <dl>
                        <dt>기획전 명</dt>
                        <dd>
                            <input type="text" name="code" th:field="*{title}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>부제목</dt>
                        <dd>
                            <input type="text" name="name" th:field="*{subTitle}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>대표이미지</dt>
                        <dd>
                            <!--                            <input type="text" name="name" th:field="*{name}"/>-->
                        </dd>
                    </dl>
                    <dl>
                        <dt>시작일시</dt>
                        <dd>
                            <input type="hidden" id="startDateTime" name="startDateTime" th:field="*{startDateTime}"/>
                            <select id="startYear" style="height: 37px;" onchange="changeStartYear(event)">년
                            </select>년
                            <select id="startMonth" style="height: 37px;" onchange="changeStartMonth(event)">월
                            </select>월
                            <select id="startDay" style="height: 37px;" onchange="changeStartDay(event)">일
                            </select>일
                            <label> </label>
                            <select id="startHour" style="width: min-content; height: 37px;" onchange="setEndDateTime(event)">시
                            </select>시
                            <select id="startMinute" style="height: 37px;" onchange="setEndDateTime(event)">분
                            </select>분
                            <select id="startSecond" style="height: 37px;" onchange="setEndDateTime(event)">초
                            </select>초
                        </dd>
                    </dl>
                    <dl>
                        <dt>종료일시</dt>
                        <dd>
                            <input type="hidden" id="endDateTime" name="endDateTime" th:field="*{endDateTime}"/>
                            <select id="endYear" style="width: 100px; height: 37px;" onchange="changeEndYear(event)">년
                            </select>년
                            <select id="endMonth" style="width: min-content;height: 37px;" onchange="changeEndMonth(event)">월
                            </select>월
                            <select id="endDay" style="width: min-content;height: 37px;" onchange="changeEndDay(event)">일
                            </select>일
                            <label> </label>
                            <select id="endHour" style="width: min-content; height: 37px;" onchange="setEndDateTime(event)">시
                            </select>시
                            <select id="endMinute" style="height: 37px;" onchange="setEndDateTime(event)">분
                            </select>분
                            <select id="endSecond" style="height: 37px;" onchange="setEndDateTime(event)">초
                            </select>초
                        </dd>
                    </dl>
                    <dl>
                        <dt>출력 순서</dt>
                        <dd>
                            <input type="number" name="name" th:field="*{ord}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>추가된 상품</dt>
                        <dd>
                            <div class="table">
                                <table id="table_1">
                                    <colgroup>
                                        <col style="width:40px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" id="item_check_all" onclick="allCheckItem()"/>
                                        </th>
                                        <th scope="col">상품코드</th>
                                        <th scope="col">상품명</th>
                                        <th scope="col">정상가</th>
                                        <th scope="col">판매가</th>
                                        <th scope="col">재고</th>
                                        <th scope="col">
                                            <button class="btn" type="button" onclick="removeCheckItem()">선택 삭제</button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="item_table_body"></tbody>
                                </table>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>사용 여부</dt>
                        <dd>
                            <label class="radiobox">
                                <input type="radio" name="status" value="ACTIVATE"
                                       th:checked="${topicItem.getStatus()} == ACTIVATE" checked>
                                <i></i>
                                <span>활성화</span>
                            </label>
                            <label class="radiobox">
                                <input type="radio" name="status" value="DEACTIVATE"
                                       th:checked="${topicItem.getStatus()} == DEACTIVATE">
                                <i></i>
                                <span>비활성화</span>
                            </label>
                        </dd>
                    </dl>
                </div>
            </form>
            <div class="button">
                <ul class="fl">
                    <li><a href="javascript:window.history.back();" class="btn btn_03">목록</a></li>
                    <li><a href="javascript:window.history.back();" class="btn btn_01">취소</a></li>
                </ul>
                <ul class="fr">
                    <li>
                        <button class="btn btn_02" onclick="submit()">저장</button>
                    </li>
                </ul>
            </div>
            <div class="button">
                <ul class="fl">
                    <input type="text" name="search" id="items_search_input"
                           style="padding: 0 12px; width: 100%; height: 40px; font-size: 14px; border: 1px solid #eee; border-radius: 4px;">
                </ul>
                <ul class="fl">
                    <button onclick="itemsSearch()" class="btn">검색</button>
                </ul>
                <ul class="fc">
                </ul>
                <ul class="fr">
                    <li>
                        <button class="btn btn_02" onclick="addCheckItems()">선택 상품 추가</button>
                    </li>
                </ul>
            </div>
            <div class="table">
                <table>
                    <colgroup>
                        <col style="width:60px">
                        <col style="width:60px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:100px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" name="itemCheckAll2" value="1" id="item_check_all_2"
                                   onclick="allCheckItem2()">
                        </th>
                        <th scope="col">상품코드</th>
                        <th scope="col" id="th_img">이미지</th>
                        <th scope="col" id="th_pc_title">상품명</th>
                        <th scope="col" id="th_camt">정상가</th>
                        <th scope="col" id="th_amt">판매가</th>
                        <th scope="col" id="th_qty">재고</th>
                    </tr>
                    </thead>
                    <tbody id="item_table_body_2"></tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script type="application/javascript" th:inline="javascript">
    /* <![CDATA[ */
    const isNew = /*[[${isNew}]]*/ null;

    function submit() {
        let method = 'POST';
        let action = /*[[@{/admin/item}]]*/;
        if (!isNew) {
            method = 'PUT';
            action = /*[[@{/admin/item/1}]]*/;
        }
        let topicItemForm = $('#topicItemForm');
        topicItemForm.submit();
    }

    /* ]]> */
</script>
<script type="application/javascript" th:inline="javascript">
    /* <![CDATA[ */
    const itemIds = /*[[${topicItem.getItemIds()}]]*/[];
    const itemNames = /*[[${topicItem.getItemNames()}]]*/[];
    const itemRegularPrices = /*[[${topicItem.getItemRegularPrices()}]]*/[];
    const itemSalePrices = /*[[${topicItem.getItemSalePrices()}]]*/[];
    const itemStocks = /*[[${topicItem.getItemStocks()}]]*/[];

    const itemData = [];
    let size = itemIds === null ? 0 : itemIds.length;
    for (let i = 0; i < size; i++) {
        itemData.push({
            id: itemIds[i],
            name: itemNames[i],
            regularPrice: itemRegularPrices[i],
            salePrice: itemSalePrices[i],
            stock: itemStocks[i]
        });
    }

    let item_table_body = document.getElementById("item_table_body");

    const parent = document.querySelector("#item_table_body");

    while (parent.firstChild) {
        parent.removeChild(parent.firstChild);
    }

    itemData.map((data, key) => {
        setItems(item_table_body, key, data.id, data.name, data.regularPrice, data.salePrice, data.stock);
    });
    /* ]]> */
</script>
<script type="application/javascript" th:inline="javascript">
    /* <![CDATA[ */
    const defaultStartDateTime = [[${topicItem.startDateTime}]];
    const defaultEndDateTime = [[${topicItem.endDateTime}]];
    console.log(defaultStartDateTime);
    console.log(defaultEndDateTime);
    let defaultStartYear = defaultStartDateTime.substring(0, 4);
    let defaultStartMonth = defaultStartDateTime.substring(5, 7);
    let defaultStartDay = defaultStartDateTime.substring(8, 10);
    let defaultStartHour = defaultStartDateTime.substring(11, 13);
    let defaultStartMinute = defaultStartDateTime.substring(14, 16);
    let defaultStartSecond = defaultStartDateTime.substring(17, 19);
    let defaultEndYear = defaultEndDateTime.substring(0, 4);
    let defaultEndMonth = defaultEndDateTime.substring(5, 7);
    let defaultEndDay = defaultEndDateTime.substring(8, 10);
    let defaultEndHour = defaultEndDateTime.substring(11, 13);
    let defaultEndMinute = defaultEndDateTime.substring(14, 16);
    let defaultEndSecond = defaultEndDateTime.substring(17, 19);

    let startDateTime = document.getElementById("startDateTime");
    let endDateTime = document.getElementById("endDateTime");

    let startYear = document.getElementById("startYear");
    let startMonth = document.getElementById("startMonth");
    let startDay = document.getElementById("startDay");
    let startHour = document.getElementById("startHour");
    let startMinute = document.getElementById("startMinute");
    let startSecond = document.getElementById("startSecond");

    let endYear = document.getElementById("endYear");
    let endMonth = document.getElementById("endMonth");
    let endDay = document.getElementById("endDay");
    let endHour = document.getElementById("endHour");
    let endMinute = document.getElementById("endMinute");
    let endSecond = document.getElementById("endSecond");

    setYearSelectOptions(startYear);
    setYearSelectOptions(endYear);
    setMonthSelectOptions(startMonth);
    setMonthSelectOptions(endMonth);
    setDaySelectOptions(startDay);
    setDaySelectOptions(endDay);

    setHourSelectOptions(startHour);
    setHourSelectOptions(endHour);
    setMinuteSelectOptions(startMinute);
    setMinuteSelectOptions(endMinute);
    setSecondSelectOptions(startSecond);
    setSecondSelectOptions(endSecond);

    setDateTime();

    function changeStartYear(event) {
        setDaySelectOptions(startDay);
        setStartDateTime();
    }
    function changeEndYear(event) {
        setDaySelectOptions(endDay);
        setEndDateTime();
    }
    function changeStartMonth(event) {
        setDaySelectOptions(startDay);
        setStartDateTime();
    }
    function changeEndMonth(event) {
        setDaySelectOptions(endDay);
        setEndDateTime();
    }
    function changeStartDay(event) {
        setStartDateTime();
    }
    function changeEndDay(event) {
        setEndDateTime();
    }
    // dateTime 설정
    function setStartDateTime() {
        let date = startYear.value + '-' + startMonth.value + '-' + startDay.value;
        let time = startHour.value + ':' + startMinute.value + ':' + startSecond.value;
        startDateTime.value = date + ' ' + time;
    }
    function setEndDateTime() {
        let date = endYear.value + '-' + endMonth.value + '-' + endDay.value;
        let time = endHour.value + ':' + endMinute.value + ':' + endSecond.value;
        endDateTime.value = date + ' ' + time;
    }
    // 년도 설정
    function setYearSelectOptions(yearSelect, isEnd) {
        let year = new Date().getFullYear();
        if (isEnd) {
            year = Number(defaultEndYear);
        } else {
            year = Number(defaultStartYear);
        }
        yearSelect.innerHTML = '';
        for (let i = 0; i < 3; i++) {
            yearSelect.innerHTML += `
                                    <option value="${year + i}">${year + i}</option>
                                    `;
        }
    }
    // 월 설정
    function setMonthSelectOptions(monthSelect) {
        monthSelect.innerHTML = '';
        for (let i = 1; i <= 12; i++) {
            monthSelect.innerHTML += `
                                <option value="${mapNumberNtoNN(i)}">${mapNumberNtoNN(i)}</option>
                                `;
        }
    }
    // 일 설정
    function setDaySelectOptions(daySelect) {
        daySelect.innerHTML = '';
        let lastDate = new Date(startYear.value, startMonth.value, 0).getDate();
        for (let i = 1; i <= lastDate; i++) {
            daySelect.innerHTML += `
                                <option value="${mapNumberNtoNN(i)}">${mapNumberNtoNN(i)}</option>
                                `;
        }
    }
    // 시간
    function setHourSelectOptions(hourSelect) {
        hourSelect.innerHTML = '';
        for (let i = 0; i <= 23; i++) {
            hourSelect.innerHTML += `
                                <option value="${mapNumberNtoNN(i)}">${mapNumberNtoNN(i)}</option>
                                `;
        }
    }
    // 분
    function setMinuteSelectOptions(minuteSelect) {
        minuteSelect.innerHTML = '';
        for (let i = 0; i < 60; i++) {
            minuteSelect.innerHTML += `
                                <option value="${mapNumberNtoNN(i)}">${mapNumberNtoNN(i)}</option>
                                `;
        }
    }
    // 초
    function setSecondSelectOptions(secondSelect) {
        secondSelect.innerHTML = '';
        for (let i = 0; i < 60; i++) {
            secondSelect.innerHTML += `
                                <option value="${mapNumberNtoNN(i)}">${mapNumberNtoNN(i)}</option>
                                `;
        }
    }
    // 1 의 자리수 0 추가
    function mapNumberNtoNN(number) {
        let prefix = '';
        if (number < 10) {
            prefix = '0';
        }
        return prefix + number;
    }
    // 시작 값 설정
    function setDateTime() {
        startYear.value = defaultStartYear;
        startMonth.value = defaultStartMonth;
        startDay.value = defaultStartDay;
        endHour.value = defaultStartHour;
        endMinute.value = defaultStartMinute;
        endSecond.value = defaultStartSecond;

        endYear.value = defaultEndYear;
        endMonth.value = defaultEndMonth;
        endDay.value = defaultEndDay;
        endHour.value = defaultEndHour;
        endMinute.value = defaultEndMinute;
        endSecond.value = defaultEndSecond;
    }
    /* ]]> */
</script>
</body>
</html>
