<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: adminHead">
<body id="wrap">
<th:block th:replace="admin/fragments/header :: adminHeader()"></th:block>
<main id="container">
    <div id="tool">
        <div class="info">
            <div class="title">관리자페이지</div>
        </div>
        <div class="logout">
            <a href="#">로그아웃</a>
        </div>
    </div>
    <div id="contain">
        <div id="h1">
            <strong>배너관리</strong>
            <span>컨텐츠 관리 > 배너관리 FORM</span>
        </div>

        <div id="product" class="content product">
            <form id="bannerForm" method="post" action="/admin/banner" th:object="${banner}" enctype="MULTIPART/FORM-DATA">
                <input type="hidden" name="id" th:field="*{id}">
                <div class="write">
                    <dl>
                        <dt>영역1</dt>
                        <dd>
                            <input type="text" name="text1" th:field="*{text1}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>영역2</dt>
                        <dd>
                            <input type="text" name="text2" th:field="*{text2}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>영역3</dt>
                        <dd>
                            <input type="text" name="text3" th:field="*{text3}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>영역4</dt>
                        <dd>
                            <input type="text" name="text4" th:field="*{text4}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>배너 이미지</dt>
                        <dd>
                            <input type="file" name="imageFile"/>
                            <img th:if="${banner.getImageUrl() != null && banner.getImageUrl() != ''}" th:src="${banner.getImageUrl()}"
                                 width="100" height="50" alt="">
                        </dd>
                    </dl>
                    <dl>
                        <dt>사용 여부</dt>
                        <dd>
                            <label class="radiobox">
                                <input type="radio" name="status" value="USE" th:checked="${banner.getStatus()} == USE"
                                       checked>
                                <i></i>
                                <span>노출</span>
                            </label>
                            <label class="radiobox">
                                <input type="radio" name="status" value="UNUSED"
                                       th:checked="${banner.getStatus()} == UNUSED">
                                <i></i>
                                <span>비노출</span>
                            </label>
                        </dd>
                    </dl>
                </div>
            </form>
            <div class="button">
                <ul class="fl">
                    <li><a href="javascript:window.history.back();" class="btn btn_03">목록</a></li>
                    <li><a href="javascript:window.history.back();" class="btn btn_01">취소</a></li>
                </ul>
                <ul class="fr">
                    <li>
                        <button class="btn btn_02" onclick="submit()">저장</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="application/javascript" th:inline="javascript">
        /* <![CDATA[ */
        const isNew = /*[[${isNew}]]*/ null;

        function submit() {
            let method = 'POST';
            let action = /*[[@{/admin/item}]]*/;
            if (!isNew) {
                method = 'PUT';
                action = /*[[@{/admin/item/1}]]*/;
            }
            let bannerForm = $('#bannerForm');
            // bannerForm.attr('method', method);
            // bannerForm.attr('action', action);
            bannerForm.submit();
        }

        /* ]]> */
    </script>
</main>
</body>
</html>
