<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: adminHead">
<body id="wrap">
<th:block th:replace="admin/fragments/header :: adminHeader()"></th:block>
<main id="container">
    <div id="tool">
        <div class="info">
            <div class="title">관리자페이지</div>
        </div>
        <div class="logout">
            <a href="#">로그아웃</a>
        </div>
    </div>
    <div id="contain">
        <div id="h1">
            <strong>게시판 관리</strong>
            <span>게시판 관리 > 공지사항</span>
        </div>
        <div id="product" class="content product">
            <div class="control">
                <div class="total">총 <strong th:text="${itemPage.getTotalContents()}">10</strong>개</div>
            </div>
            <div class="button">
                <ul class="fl">
                    <li><a href="javascript:deleteNotice();" class="btn btn_05">선택 삭제</a></li>
                </ul>
                <ul class="fr">
                    <li><a th:href="@{/admin/notice/form}" class="btn btn_02">추가</a></li>
                </ul>
            </div>
            <div class="table">
                <table>
                    <colgroup>
                        <col style="width:60px">
                        <col style="width:60px">
                        <col style="width:60%">
                        <col style="width:150px">
                        <col style="width:100px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox" id="cbx_chkAll"><i></i>
                                <p class="skip">선택</p>
                            </label>
                        </th>
                        <th>No</th>
                        <th>제목</th>
                        <th>등록일</th>
                        <th>편집</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${itemPage.getContent()}">
                        <td><label class="checkbox"><input type="checkbox" name="chk" th:value="${item.getId()}"><i></i>
                            <p class="skip">선택</p></label></td>
                        <td th:text="${item.getId()}">1</td>
                        <td th:text="${item.getTitle()}">제목</td>
                        <td class="td_numbig">
                            <span th:text="${#temporals.format(item.getCreatedDateTime(), 'yyyy-MM-dd')}"></span>
                            <span th:text="${#temporals.format(item.getCreatedDateTime(), 'HH:mm')}"></span>
                        </td>
                        <td>
                            <div class="link">
                                <a th:href="@{'/admin/notice/form?id=' + ${item.getId()}}" class="btn btn_01"><img
                                        src="https://cdn1.iconfinder.com/data/icons/100-basic-for-user-interface/32/27-pen-256.png">
                                    <p class="skip">편집</p></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="button">
                <ul class="fl">
                    <li><a href="javascript:deleteNotice();" class="btn btn_05">선택 삭제</a></li>
                </ul>
                <ul class="fr">
                    <li><a th:href="@{/admin/notice/form}" class="btn btn_02">추가</a></li>
                </ul>
            </div>
            <th:block th:replace="admin/fragments/fragment :: pagination(${itemPage}, '/admin/notice')"></th:block>
        </div>
    </div>
</main>
<script type="application/javascript" th:inline="javascript">
    function deleteNotice() {
        let list = [];

        $("input[name='chk']:checked").each(function() {
            var tmpVal = $(this).val();
            list.push(Number(tmpVal));
        });

        if( list.length < 1 ){
            alert("삭제할 공지 글을 선택해주시기 바랍니다.");
            return;
        }

        // var data_to_send = $.serialize(list);
        $.ajax({
            url: './delete',
            data: {
                list
            },
            type: 'POST',
            dataType: "json",
            success: function(result){
                if (result.status === 'success') {
                    alert('삭제가 완료되었습니다.');
                    location.href='./notice_list';
                } else {
                    alert('삭제가 실패되었습니다.\n잠시 후에 시도하여 주세요');
                }
            },
            error: function(request, status, error) {
                alert('삭제가 실패되었습니다.\n잠시 후에 시도하여 주세요');
            }
        });

        return false;
    }
</script>
</body>
</html>
