<!DOCTYPE html>
<html layout:decorate="~{layouts/layout2}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <section id="container">
        <div id="notice">
            <div class="wrap">
                <div id="heading">NOTICE</div>
                <div class="list pc-only">
                    <table>
                        <colgroup>
                            <col style="width:124px">
                            <col >
                            <col style="width:150px">
                            <col style="width:150px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item: ${itemPage.getContent()}">
                            <td th:text="${item.getId()}">1</td>
                            <td >
                                <a th:href="@{'/notice/notice_view?id=' + ${item.getId()}}" class="btn btn_01">
                                    <span th:text="${item.getTitle()}">올</span>
                                </a>
                            </td>
                            <td th:text="${#temporals.format(item.getCreatedDateTime(), 'yyyy-MM-dd')}"></td>
                            <td th:text="${#numbers.formatInteger(item.getViewCount(), 0, 'COMMA')}">0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <th:block th:replace="fragments/fragment :: paginationOptions(${itemPage}, '/notice/notice_list', @{'search=' + ${search}})"></th:block>
                <div class="search">
                    <form class="inner">
                        <select>
                            <option>전체</option>
                        </select>
                        <input type="text" name="search" th:value="${search}" placeholder="검색어를 입력해 주세요.">
                        <button type="submit"><img src="/img/icon_search_b.png"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-container" id="review_slider">
            <div class="modal-wrapper">
                <div class="slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="img"><img src="../resources/img/detail.png"></div>
                                <div class="con">
                                    <div class="name">[조말론] 상품명노출...</div>
                                    <div class="subj">자주 사용하는 상품입니다.</div>
                                </div>
                                <div class="star"><img src="../resources/img/icon_star04.png"><p>(4.5)</p></div>
                            </div>
                            <div class="content">
                                <div class="user">
                                    <span class="id">kwe***</span>
                                    <span class="date">2022-11-08</span>
                                    <span class="tool">
                                        <a href="#">수정</a>
                                    </span>
                                </div>
                                <div class="text">
                                    <div class="tit">아무리 발라도 부드러워요.</div>
                                    <div class="txt">아무리 발라도 부드러워요.</div>
                                </div>
                            </div>
                            <div class="help">
                                <span class="txt">해당 상품후기가 도움이 되었어요?</span>
                                <div class="act">
                                    <a href="javascript:;" class="on">좋아요</a>
                                    <a href="javascript:;">싫어요</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="img"><img src="../resources/img/detail.png"></div>
                                <div class="con">
                                    <div class="name">[조말론] 상품명노출...</div>
                                    <div class="subj">자주 사용하는 상품입니다.</div>
                                </div>
                                <div class="star"><img src="../resources/img/icon_star04.png"><p>(4.5)</p></div>
                            </div>
                            <div class="content">
                                <div class="user">
                                    <span class="id">kwe***</span>
                                    <span class="date">2022-11-08</span>
                                    <span class="tool">
                                        <a href="#">수정</a>
                                    </span>
                                </div>
                                <div class="text">
                                    <div class="tit">아무리 발라도 부드러워요.</div>
                                    <div class="txt">아무리 발라도 부드러워요.</div>
                                </div>
                            </div>
                            <div class="help">
                                <span class="txt">해당 상품후기가 도움이 되었어요?</span>
                                <div class="act">
                                    <a href="javascript:;" class="on">좋아요</a>
                                    <a href="javascript:;">싫어요</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="img"><img src="../resources/img/detail.png"></div>
                                <div class="con">
                                    <div class="name">[조말론] 상품명노출...</div>
                                    <div class="subj">자주 사용하는 상품입니다.</div>
                                </div>
                                <div class="star"><img src="../resources/img/icon_star04.png"><p>(4.5)</p></div>
                            </div>
                            <div class="content">
                                <div class="user">
                                    <span class="id">kwe***</span>
                                    <span class="date">2022-11-08</span>
                                    <span class="tool">
                                        <a href="#">수정</a>
                                    </span>
                                </div>
                                <div class="text">
                                    <div class="tit">아무리 발라도 부드러워요.</div>
                                    <div class="txt">아무리 발라도 부드러워요.</div>
                                </div>
                            </div>
                            <div class="help">
                                <span class="txt">해당 상품후기가 도움이 되었어요?</span>
                                <div class="act">
                                    <a href="javascript:;" class="on">좋아요</a>
                                    <a href="javascript:;">싫어요</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="swiper-prev"><img src="/img/icon_modal_prev.png"></button>
                <button type="button" class="swiper-next"><img src="/img/icon_modal_next.png"></button>
                <div class="close">
                    <img src="../resources/img/icon_modal_close.png" class="modalClose">
                </div>
                <script>
                    //<![CDATA[
                    var swiper = new Swiper('#review_slider .slider', {
                        slidesPerView: 1,
                        pagination: false,
                        navigation: {
                            nextEl: '#review_slider .swiper-next',
                            prevEl: '#review_slider .swiper-prev',
                        },
                        spaceBetween: 60,
                    });
                    //]]>
                </script>
            </div>
        </div>
    </section>
</div>

</html>