<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/layout2}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <header id="header">
        <div class="head-top">
            <div class="wrap">
                <div class="addr">
                    <strong>주소</strong><span>경기도 포천시 소흘읍 소흘로 73-10</span>
                </div>
                <div class="free"><strong>49,000원 이상 무료배송</strong> (그 외 금액은 배송비 5,000원)</div>
                <div class="tool">
                    <th:block sec:authorize="isAuthenticated()">
                        <span>
                            <a href="#">장바구니</a>
                        </span>
                        <span>
                            <a href="#">구매이력</a>
                        </span>
                        <span>
                            <a th:href="@{/logout}">로그아웃</a>
                        </span>
                    </th:block>
                    <th:block sec:authorize="isAnonymous()">
                        <span>
                            <a th:href="@{/login}">로그인</a>
                        </span>
                    </th:block>

                </div>
            </div>

            <!--<input type="text" th:value="${session.containsKey('role')}"/>
            <input type="text" th:value="${session.role}"/>-->

        </div>
        <div class="head-bottom">
            <div class="wrap">
                <div class="logo"><a href="/"><img alt="더가온 ALL따옴" src="/img/logo.png"></a></div>
                <div class="search">
                    <form class="form">
                        <input type="text">
                        <button type="submit"><img src="/img/icon_search.png"></button>
                    </form>
                </div>
                <span th:if="${not #strings.isEmpty(session.userId)}">
                    <div class="link">
                        <a href="#">
                            <div class="ico"><img src="/img/icon_mypage.png"></div>
                            <div class="txt">마이페이지</div>
                        </a>
                        <a href="#">
                            <div class="ico"><img src="/img/icon_cart.png"><p class="num">2</p></div>
                            <div class="txt">장바구니</div>
                        </a>
                    </div>
                </span>
            </div>
        </div>
        <div class="head-navi">
            <div class="wrap">
                <div class="all">
                    <button id="allmenu" type="button"><img src="/img/icon_bars.png">전체 카테고리</button>
                </div>
                <div class="menu">
                    <ul class="dp1">
                        <li class="dl1">
                            <a class="da1" th:href="@{'/item?categoryId=1'}">가공식품</a>
                        </li>
                        <li class="dl1">
                            <a class="da1" th:href="@{'/item?categoryId=2'}">농수축산물</a>
                        </li>
                        <li class="dl1">
                            <a class="da1" th:href="@{'/item?categoryId=3'}">배달용품</a>
                        </li>
                    </ul>
                </div>
                <div class="quick">
                    <a href="#">공지사항</a>
                    <a href="#">고객문의</a>
                </div>
            </div>
        </div>
        <div class="head-allmenu">
            <div class="allmenu">
                <div class="wrap">
                    <div class="menu">
                        <ul class="dp1">
                            <th:block th:each="category: ${categories}">
                                <li class="dl1">
                                    <a class="da1" th:href="@{'/item?categoryId=' + ${category.getId()}}" th:text="${category.name}">1차분류
                                        <i th:if="${category.getSubCategories() != null}"></i>
                                    </a>
                                    <ul class="dp2" th:if="${category.getSubCategories() != null}">
                                        <th:block th:each="subCategory: ${category.getSubCategories()}">
                                            <li class="dl2">
                                                <a class="da2" th:href="@{'/item?categoryId=' + ${subCategory.getId()}}" th:text="${subCategory.name}">2차분류</a>
                                            </li>
                                        </th:block>
                                    </ul>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $('#header .head-navi .dl1').bind('mouseenter keyup', function () {
                $(this).addClass('active').siblings().removeClass('active');
            }).bind("mouseleave focusout", function () {
                $(this).removeClass('active');
            });
            $('#header .head-navi .menu .dl1').bind('mouseenter keyup', function () {
                $('#header').addClass('active');
            });
            $('#header').on("mouseleave", function () {
                $('#header').removeClass('active');
            });
            $('#container').on('focusin', function () {
                $('#header').removeClass('active');
            })
        });
        $(function () {
            $("#allmenu").on("click", function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $('.head-allmenu').removeClass("active");
                    $("html, body").css({"overflow": "auto"});
                } else {
                    $(this).addClass("active");
                    $('.head-allmenu').addClass("active");
                    $("html, body").css({"overflow": "hidden"});
                }
            })
            $('.allmenu').on('click', function (e) {
                if (!$('.allmenu .box').has(e.target).length) {
                    $('.head-allmenu').removeClass("active");
                    $("html, body").css({"overflow": "auto"});
                }
            });
        });
        //]]>
    </script>
</div>
</html>