@charset "utf-8";

@media all and (min-width:769px){
    #main .recommand .title .cate button{position: relative;line-height:1.4;font-size:20px;font-weight:500;color: #777;}
    #main .recommand .title .cate button + a{margin-left:45px;}
    #main .recommand .title .cate button + button{margin-left:45px;}
    #main .recommand .title .cate button.on{color: #1d8a5a;}
    #main .recommand .title .cate button.on:after{content:'';position:absolute;bottom:-6px;left:0;width:100%;height:3px;background:#1d8a5a;}
}
@media all and (max-width:768px){
    #main .recommand .title .cate button{position: relative;line-height:1.4;font-size: 15px;font-weight:500;color: #777;}
    #main .recommand .title .cate button + a{margin-left: 12px;}
    #main .recommand .title .cate button + button{margin-left: 12px;}
    #main .recommand .title .cate button.on{color: #1d8a5a;}
    #main .recommand .title .cate button.on:after{content:'';position:absolute;bottom:-6px;left:0;width:100%;height:3px;background:#1d8a5a;}
}
