<!DOCTYPE html>
<html layout:decorate="~{layouts/layout2}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div id="container">
        <div>에러</div>
        <div th:if="${message != null}" th:text="${message}"></div>
        <a href="javascript:window.history.back();" class="btn btn_03">뒤로가기</a>
    </div>
</div>
</html>