<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: adminHead">
<body id="wrap">
<th:block th:replace="admin/fragments/header :: adminHeader()"></th:block>
<main id="container">
    <div id="tool">
        <div class="info">
            <div class="title">관리자페이지</div>
        </div>
        <div class="logout">
            <a href="#">로그아웃</a>
        </div>
    </div>
    <div id="contain">
        <div id="h1">
            <strong>분류관리</strong>
            <span>상품 관리 > 분류관리</span>
        </div>

        <div id="product" class="content product">
            <form id="categoryForm" method="post" action="/admin/category" th:object="${category}">
                <input type="hidden" name="id" th:field="*{id}">
                <div class="write">
                    <dl>
                        <dt>상위 분류</dt>
                        <dd>
                            <select th:name="topCategoryId">
                                <option value="">없음</option>
                                <option th:each="topCategory: ${topCategories}" th:value="${topCategory?.getId()}"
                                        th:selected="${category.getTopCategoryId()} == ${topCategory.getId()}"
                                        th:text="${(topCategory.getDepth() == 2 ? 'ㄴ' : '') + topCategory?.getName()}">분류</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>분류</dt>
                        <dd>
                            <input type="text" name="name" th:field="*{name}"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>사용 여부</dt>
                        <dd>
                            <label class="radiobox">
                                <input type="radio" name="status" value="EXPOSE" th:checked="${category.getStatus()} == EXPOSE" checked>
                                <i></i>
                                <span>노출</span>
                            </label>
                            <label class="radiobox">
                                <input type="radio" name="status" value="UNEXPOSED" th:checked="${category.getStatus()} == UNEXPOSED">
                                <i></i>
                                <span>비노출</span>
                            </label>
                        </dd>
                    </dl>
                </div>
            </form>
            <div class="button">
                <ul class="fl">
                    <li>록</li>
                    <li><a href="javascript:window.history.back();" class="btn btn_01">취소</a></li>
                </ul>
                <ul class="fr">
                    <li>
                        <button class="btn btn_02" onclick="submit()">저장</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="application/javascript" th:inline="javascript">
        /* <![CDATA[ */
        const isNew = /*[[${isNew}]]*/ null;

        function submit() {
            let method = 'POST';
            let action = /*[[@{/admin/item}]]*/;
            if (!isNew) {
                method = 'PUT';
                action = /*[[@{/admin/item/1}]]*/;
            }
            let categoryForm = $('#categoryForm');
            // categoryForm.attr('method', method);
            // categoryForm.attr('action', action);
            categoryForm.submit();
        }

        /* ]]> */
    </script>
</main>
</body>
</html>
