<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li>
  <button type="button" id="c1" class="colorbtnList" seq="1" value="다크브라운">
    <p class="color_point" style="background: #764008"></p>
    <p>다크브라운</p>
  </button>
</li>
<li>
  <button type="button" id="c2" class="colorbtnList" seq="2" value="레드">
    <p class="color_point" style="background: #be0e0e"></p>
    <p>레드</p>
  </button>
</li>
<li>
  <button type="button" id="c3" class="colorbtnList" seq="3" value="버건디aa">
    <p class="color_point" style="background: #b31836aa"></p>
    <p>버건디aa</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c4"
          class="colorbtnList"
          seq="4"
          value="오렌지"
  >
    <p
            class="color_point"
            style="background: #f66800"
    ></p>
    <p>오렌지</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c5"
          class="colorbtnList"
          seq="5"
          value="옐로우"
  >
    <p
            class="color_point"
            style="background: #f3e219"
    ></p>
    <p>옐로우</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c6"
          class="colorbtnList"
          seq="6"
          value="브라운"
  >
    <p
            class="color_point"
            style="background: #c47c26"
    ></p>
    <p>브라운</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c7"
          class="colorbtnList"
          seq="7"
          value="베이지"
  >
    <p
            class="color_point"
            style="background: #ebbd87"
    ></p>
    <p>베이지</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c8"
          class="colorbtnList"
          seq="8"
          value="스킨"
  >
    <p
            class="color_point"
            style="background: #f5ecc3"
    ></p>
    <p>스킨</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c9"
          class="colorbtnList"
          seq="9"
          value="아이보리"
  >
    <p
            class="color_point"
            style="background: #fbfcdf"
    ></p>
    <p>아이보리</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c10"
          class="colorbtnList"
          seq="10"
          value="애플그린"
  >
    <p
            class="color_point"
            style="background: #5ad99f"
    ></p>
    <p>애플그린</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c11"
          class="colorbtnList"
          seq="11"
          value="그린"
  >
    <p
            class="color_point"
            style="background: #21ba21"
    ></p>
    <p>그린</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c12"
          class="colorbtnList"
          seq="12"
          value="다크그린"
  >
    <p
            class="color_point"
            style="background: #71842e"
    ></p>
    <p>다크그린</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c13"
          class="colorbtnList"
          seq="13"
          value="스카이블루"
  >
    <p
            class="color_point"
            style="background: #47bbdc"
    ></p>
    <p>스카이블루</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c14"
          class="colorbtnList"
          seq="14"
          value="블루"
  >
    <p
            class="color_point"
            style="background: #3685c2"
    ></p>
    <p>블루</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c15"
          class="colorbtnList"
          seq="15"
          value="다크블루"
  >
    <p
            class="color_point"
            style="background: #0f4384"
    ></p>
    <p>다크블루</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c16"
          class="colorbtnList"
          seq="16"
          value="퍼플"
  >
    <p
            class="color_point"
            style="background: #83007e"
    ></p>
    <p>퍼플</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c17"
          class="colorbtnList"
          seq="17"
          value="라이트퍼플"
  >
    <p
            class="color_point"
            style="background: #b163af"
    ></p>
    <p>라이트퍼플</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c18"
          class="colorbtnList"
          seq="18"
          value="베이비핑크"
  >
    <p
            class="color_point"
            style="background: #ea8cbb"
    ></p>
    <p>베이비핑크</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c19"
          class="colorbtnList"
          seq="19"
          value="핑크"
  >
    <p
            class="color_point"
            style="background: #eb3691"
    ></p>
    <p>핑크</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c20"
          class="colorbtnList"
          seq="20"
          value="블랙"
  >
    <p
            class="color_point"
            style="background: black"
    ></p>
    <p>블랙</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c21"
          class="colorbtnList"
          seq="21"
          value="다크그레이"
  >
    <p
            class="color_point"
            style="background: #6b6b6b"
    ></p>
    <p>다크그레이</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c22"
          class="colorbtnList"
          seq="22"
          value="그레이"
  >
    <p
            class="color_point"
            style="background: #d9d9d9"
    ></p>
    <p>그레이</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c23"
          class="colorbtnList"
          seq="23"
          value="라이트그레이"
  >
    <p
            class="color_point"
            style="background: #ededed"
    ></p>
    <p>라이트그레이</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c24"
          class="colorbtnList"
          seq="24"
          value="화이트"
  >
    <p
            class="color_point"
            style="background: white"
    ></p>
    <p>화이트</p>
  </button>
</li>
<li>
  <button
          type="button"
          id="c25"
          class="colorbtnList"
          seq="25"
          value="라이트블루"
  >
    <p
            class="color_point"
            style="background: lightblue"
    ></p>
    <p>라이트블루</p>
  </button>
</li>
</body>
</html>