<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: adminHead">
<body id="wrap">
<th:block th:replace="admin/fragments/header :: adminHeader()"></th:block>
<main id="container">
    <div id="tool">
        <div class="info">
            <div class="title">관리자페이지</div>
        </div>
        <div class="logout">
            <a href="#">로그아웃</a>
        </div>
    </div>
    <div id="contain">
        <div id="h1">
            <strong>상품관리</strong>
            <span>상품 관리 > 상품관리</span>
        </div>
        <div id="product" class="content product">
            <div class="control">
                <div class="total">총 <strong th:text="${itemPage.getTotalContents()}">10</strong>개</div>
                <!--                <div class="view">-->
                <!--                    <select>-->
                <!--                        <option>10page</option>-->
                <!--                    </select>-->
                <!--                    <select>-->
                <!--                        <option>전체</option>-->
                <!--                    </select>-->
                <!--                    <select>-->
                <!--                        <option>전체</option>-->
                <!--                    </select>-->
                <!--                </div>-->
            </div>
            <div class="button">
                <ul class="fl">
                    <li><a href="javascript:;" class="btn btn_05">선택 삭제</a></li>
                </ul>
                <ul class="fr">
                    <li><a th:href="@{/admin/item/form}" class="btn btn_02">추가</a></li>
                </ul>
            </div>
            <div class="table">
                <table>
                    <colgroup>
                        <col style="width:60px">
                        <col style="width:60px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col style="width:100px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                        </th>
                        <th scope="col">상품코드</th>
                        <th scope="col" id="th_brand">브랜드명</th>
                        <th scope="col" id="th_img">이미지</th>
                        <th scope="col" id="th_pc_title">상품명</th>
                        <th scope="col" id="th_camt">정상가</th>
                        <th scope="col" id="th_amt">판매가</th>
                        <th scope="col" id="th_qty">재고</th>
                        <th scope="col">판매여부</th>
                        <th scope="col">노출여부</th>
                        <th scope="col">등록일자</th>
                        <th scope="col">수정일자</th>
                        <th scope="col" style="width:130px !important;">관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item: ${itemPage.getContent()}">
                        <tr class="bg0">
                            <td class="td_chk">
                                <input type="checkbox" name="chk[]" value="0" th:id="item_ + ${item.getId()}">
                            </td>
                            <td class="td_numbig">
                                <span th:value="${item.getId()}" th:text="${item.getId()}">상품코드</span>
                            </td>
                            <td class="td_num">
                                <p th:value="${item.getBrand()}" th:text="${item.getBrand()}"
                                   style="width:100px;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;">
                                    롯데</p>
                            </td>
                            <td class="td_num">
                                <img th:if="${!item.getMainImageUrl().isEmpty()}" th:src="${item.getMainImageUrl()}"
                                     width="50" height="50" alt="">
                            </td>
                            <td headers="th_pc_title" class="td_input td_name">
                                <p th:value="${item.getName()}" th:text="${item.getName()}">라면 시리즈</p>
                            </td>
                            <td headers="th_amt" class="td_numbig td_input">
                                <span th:value="${item.getRegularPrice()}"
                                      th:text="${item.getRegularPrice()}">158,000</span>
                            </td>
                            <td headers="th_amt2" class="td_numbig td_input">
                                <span th:value="${item.getSalePrice()}" th:text="${item.getSalePrice()}">158,000</span>
                            </td>
                            <td headers="th_qty" class="td_numbig td_input">
                                <span th:value="${item.getStock()}" th:text="${item.getStock()}">40</span>
                            </td>
                            <td class="td_num">
                                <span th:if="${item.isSaleStatus()}">판매중</span>
                            </td>
                            <td class="td_num2">
                                <span th:if="${item.isProductExposureStatus()}">노출</span>
                            </td>
                            <td class="td_numbig">
                                <p th:text="${#temporals.format(item.getCreatedDateTime(), 'yyyy-MM-dd')}"></p>
                                <p th:text="${#temporals.format(item.getCreatedDateTime(), 'HH:mm')}"></p>
                            </td>
                            <td class="td_mng">
                                <p th:text="${#temporals.format(item.getUpdatedDateTime(), 'yyyy-MM-dd')}"></p>
                                <p th:text="${#temporals.format(item.getUpdatedDateTime(), 'HH:mm')}"></p>
                            </td>
                            <td>
                                <div class="link">
                                    <a th:href="@{'/admin/item/form?id=' + ${item.getId()}}" class="btn btn_01">
                                        <img src="https://cdn1.iconfinder.com/data/icons/100-basic-for-user-interface/32/27-pen-256.png">
                                        <p class="skip">편집</p>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="button">
                <ul class="fl">
                    <li><a href="javascript:;" class="btn btn_05">선택 삭제</a></li>
                </ul>
                <ul class="fr">
                    <li><a th:href="@{/admin/item/form}" class="btn btn_02">추가</a></li>
                </ul>
            </div>
            <th:block th:replace="admin/fragments/fragment :: pagination(${itemPage}, '/admin/item')"></th:block>
        </div>
    </div>
</main>
</body>
</html>
