	<?php include("header.html");?>
    <main id="container">
        <div id="tool">
            <div class="info">
                <div class="title">관리자페이지</div>
            </div>
            <div class="logout">
                <a href="#">로그아웃</a>
            </div>
        </div>
        <div id="contain">
            <div id="h1">
                <strong>푸터</strong>
                <span>하단정보 관리 > 푸터</span>
            </div>
            <div id="footer" class="content footer">
                <div class="write">
                    <dl>
                        <dt>서비스 로고</dt>
                        <dd><input type="file"></dd>
                    </dl>
                    <dl>
                        <dt>하단정보</dt>
                        <dd><input type="text" value="경기도 포천시 소흘읍 소흘로 73-10"></dd>
                    </dl>
                </div>
                <div class="button">
                    <ul class="fr">
                        <li><a href="javascript:;" class="btn btn_02">저장</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</main>
</body>
</html>
